<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="yeepay.payplus.mapper.UserMapper">   <!-- 命名空间，名字可以随意起，只要不冲突即可 -->
    <!-- 对象映射，可以不写 -->
    <!-- 查询功能，resultType 设置返回值类型 -->
    <select id="findAll" resultType="yeepay.payplus.Person">  <!-- 书写 SQL 语句 -->
        SELECT * FROM Person
    </select>


    <!-- 新增功能，在SQL语句中有参数，并以实体来封装参数 -->
    <insert id="insert" parameterType="yeepay.payplus.Person">
        INSERT INTO person (id,name,age) VALUES (#{id},#{name},#{age})
    </insert>

    <!-- 删除功能 -->
    <delete id="deleteById" parameterType="integer">
        DELETE FROM person
        WHERE id = #{id}
    </delete>

    <!-- 通过 ID 查询 -->
    <select id="get" parameterType="Integer" resultType="yeepay.payplus.Person">  <!-- 书写 SQL 语句 -->
        SELECT * FROM person
        WHERE id = #{id}
    </select>

    <!-- 修改功能 -->
    <update id="update" parameterType="yeepay.payplus.Person">
        UPDATE person set name=#{name},age=#{age}
        WHERE id = #{id}
    </update>
</mapper>